.outro { 
    height: 65vh;
    background-image: url(https://www.hdcarwallpapers.com/walls/2015_vorsteiner_lamborghini_aventador_coupe-HD.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.outro::before{
    display: block;
    content: '';
    background: rgba(49, 49, 49, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.outro .wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
}

.outro .box {
    z-index: 10;
    padding: 1rem;
    flex-basis: 40%;
    /* width: 15rem; */
    /* height: 20rem; */
    color: white;
    background-color: #FF6C00;
    border-radius: 0.2rem;
    position: relative;
    top: 17rem;
    left: -2rem;
    box-shadow: 0 0.1rem 0.3rem 0.1rem rgb(0 0 0 / 50%);
}

.outro .box .title {
    text-transform: uppercase;
    font-family: Oswald;
}

.outro .box .desc {
    font-size: 0.8rem;
    padding-bottom: 1rem;
}

.outro .box .button {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 0.3rem 0.6rem;
    margin-top: 1.5rem;
    border-radius: 0.2rem;
}

.outro .box .button:hover {
    background-color: white;
    color: #FF6C00;
}


@media screen and (min-width: 500px) {
    .outro .box {
        flex-basis: 50%;
        top: 16rem;
        left: -1rem;
    }
}

@media screen and (min-width: 595px) {
    .outro .box {
        flex-basis: 50%;
        top: 12rem;
        left: -1rem;
    }
}

@media screen and (min-width: 700px) {
    .outro .box {
        flex-basis: 50%;
        top: 14rem;
        left: -1rem;
    }
}

@media screen and (min-width: 800px) {
    .outro .box {
        flex-basis: 40%;
        top: 7rem;
        left: -2rem;
    }
}

@media screen and (min-width: 950px) {
    .outro .box {
        flex-basis: 30%;
        top: 6rem;
        left: -2rem;
    }
}

@media screen and (min-width: 1050px) {
    .outro .box {
        flex-basis: 30%;
        top: 9rem;
        left: -2rem;
    }
}