<footer class="site-footer">
    <div class="wrapper">
        <section>
            <p class="title">Why us</p>
            <span class="delimiter"></span>
            <nav>
                <ul>
                    <li><a href="">One</a></li>
                    <li><a href="">Two</a></li>
                    <li><a href="">Three</a></li>
                    <li><a href="">Four</a></li>
                    <li><a href="">Five</a></li>
                    <li><a href="">Six</a></li>
                </ul>
            </nav>
        </section>
        <section>
            <p class="title">Shoping offerts</p>
            <span class="delimiter"></span>
            <nav>
                <ul>
                    <li><a href="">One</a></li>
                    <li><a href="">Two</a></li>
                    <li><a href="">Three</a></li>
                    <li><a href="">Four</a></li>
                    <li><a href="">Five</a></li>
                    <li><a href="">Six</a></li>
                </ul>
            </nav>
        </section>
        <section>
            <p class="title">Legal</p>
            <span class="delimiter"></span>
            <nav>
                <ul>
                    <li><a href="">One</a></li>
                    <li><a href="">Two</a></li>
                    <li><a href="">Three</a></li>
                    <li><a href="">Four</a></li>
                    <li><a href="">Five</a></li>
                    <li><a href="">Six</a></li>
                </ul>
            </nav>
        </section>
        <section>
            <p class="title">Investitions</p>
            <span class="delimiter"></span>
            <nav>
                <ul>
                    <li><a href="">One</a></li>
                    <li><a href="">Two</a></li>
                    <li><a href="">Three</a></li>
                    <li><a href="">Four</a></li>
                    <li><a href="">Five</a></li>
                    <li><a href="">Six</a></li>
                </ul>
            </nav>
        </section>
    </div>
</footer>