<input type="checkbox" name="main-nav-toggle" id="main-nav-toggle" checked />
<header class="site-header">
    <div class="wrapper">
        <div class="info">
            <a class="title" href="/home">MICAR</a>
            <p class="desc">Accesories</p>
        </div>
        <nav class="main">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">News</a></li>
                <li class="submenu" ><a href="">Cars <i class="fas fa-angle-down down"></i></a>
                    <ul>
                        <li><a href="">Lamborghini Hurucane</a></li>
                        <li><a href="">Lamborghini Urus</a></li>
                        <li><a href="">Lamborghini Sesto Elemento</a></li>
                        <li><a href="">Lamborghini Centenario</a></li>
                    </ul>
                </li>
                <li><a href="">About</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
        <label for="main-nav-toggle" id="toggle"><i class="fab fa-xing"></i>Menu</label>
        <nav class="cart">
            <ul>
                <li><a href="">Cart</a></li>
                <li><a href=""><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
    </div>
</header>