<section class="newsletter">
    <div class="box">
        <header>
            <p>Sign-up to our newsletter</p>
        </header>
        <div class="wrapper">
            <form action="#">
                <p class="field">
                    <span class="input">
                        <input type="text">
                        <span class="actions"></span>
                    </span>
                    <input type="submit" class="button" value="Subscribe">
                </p>
            </form>
        </div>
    </div>
</section>